<h2>Results Review</h2>
<div id="score"></div>
<div>
    <div class="wins"><span>Wins:</span><span class="color"></span></div>
    <div class="ties"><span>Ties:</span><span class="color"></span></div>
    <div class="loses"><span>Losses:</span><span class="color"></span></div>
</div>


