#score {
  transform: rotate(45deg);
  position: absolute;
}
span.color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.wins span.color {
    background-color: #7fd4fc;
}
.ties span.color {
    background-color: #edf55b;
}
.loses span.color {
    background-color: #fdc055;
}
